.toolbar {
  display: flex;
}

.tab {
  padding: 5px;
  border: 1px solid rgb(109, 119, 214);
  cursor: pointer;
  min-width: 40px;
}

.active {
  border: 1px solid red;
}

.content {
  padding: 5px;
}
