<div #toolbar class="toolbar" (mousewheel)="onScroll($event)">
  <div
    class="tab"
    *ngFor="let tab of tabs"
    (click)="setActive(tab)"
    [class.active]="isActive(tab)"
  >
    <div class="title">
      <ng-container *ngTemplateOutlet="getTitle(tab)"></ng-container>
    </div>
    <div><button (click)="closeTab(tab)">x</button></div>
  </div>
  <button (click)="createTab()">+</button>
</div>
<div *ngIf="activeTab !== -1" class="content">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
