::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.toolbar {
  display: flex;
  overflow-x: auto;
}

.tab {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid rgb(109, 119, 214);
  cursor: pointer;
  min-width: 100px;
}

.title {
  min-width: 20px;
}

.active {
  border: 1px solid red;
}

.content {
  padding: 5px;
}
